<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>

  <div class="container">
    <div class="occasion">
      <img src="../../assets/Pictures/Occasions/tahini.jpg" alt="Tahini Bread">
      <div class="occasion-text">
        <h2>ARMENIAN TAHINI BREAD</h2>
        <p>Tahinov Hatz is an Armenian bread made during the lent period filled with layers of tahini (sesame paste), 
          sugar, and sometimes cinnamon. These stuffed flatbreads have a slightly crisp and flaky texture with a hint of sweetness.</p>
      </div>
    </div>

    <div class="occasion">
      <img src="../../assets/Pictures/Occasions/harissa.png" alt="Harissa">
      <div class="occasion-text">
        <h2>Harissa</h2>
        <p>Originally, harissa was made with lamb but it’s now more commonly made with chicken. 
          It’s traditionally served on Easter Day and on the third Sunday of September, to commemorate the Musa Ler resistance during the Armenian genocide in 1915. 
          It’s a highly ritualistic dish that takes many hours to cook, its long cooking process being an essential part of the harissa tradition.</p>
      </div>
    </div>

    <div class="occasion">
      <img src="../../assets/Pictures/Occasions/Ghapama.png" alt="Ghapama">
      <div class="occasion-text">
        <h2>Ghapama</h2>
        <p>To serve, the cooked and softened pumpkin is brought to the dinner table where it’s cut down the sides so it opens up like a flower.
           Popular at weddings and holidays like Christmas and New Year, it can be served as part of the main meal or for dessert. 
          Dessert ghapama are usually made sweeter than versions eaten with meals.</p>
      </div>
    </div>

    <div class="occasion">
      <img src="../../assets/Pictures/Occasions/Pakhlava.png" alt="Pakhlava">
      <div class="occasion-text">
        <h2>Pakhlava</h2>
        <p>At its core, pakhlava is a layered dessert made with multiple sheets of phyllo pastry filled with chopped nuts and sweetened with syrup or honey. 
          Many variations of this dessert exist but Armenian pakhlava is typically sweetened with a simple syrup spiced with cloves and cinnamon.
          Cut into diamond shapes, pakhalava is especially popular during the holidays. 
          It’s a mainstay on the Armenian Christmas table and often consumed to celebrate Easter as well.</p>
      </div>
    </div>

  </div>
</body>
</html>
