<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Collecting Armenian Recipes at one place and sharing delightful flavors. Discover our love for culinary creativity and savor unforgettable recipes.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: armrecipes@gmail.com</p>
          <p>Phone: (961) 71079388</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="https://www.facebook.com/" class="social-icon"><i class="fa fa-facebook"></i></a>
            <a href="https://www.youtube.com/" class="social-icon"><i class="fa fa-youtube"></i></a>
            <a href="https://www.instagram.com/" class="social-icon"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">© 2023 ARM Recipes. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
